body {
  font-family: Calibre, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0a192f;
  display: flex;
  justify-content: center;
}
h1 {
  color: aliceblue;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dice {
  width: 60px;
  height: 60px;
  border: 2px solid;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  box-shadow: darkcyan;
  background-color: whitesmoke;
  display: grid;
  grid-template:
    [row1-start] 'dice1 dice2 dice3' [row1-end]
    [row2-start] 'dice4 dice5 dice6' [row2-end]
    [row3-start] 'dice7 dice8 dice9' [row3-end];
}
.dice-point {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  place-self: center;
  visibility: hidden;
}
#dice-container {
  background-image: radial-gradient(rgb(13, 44, 13), darkgreen);
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: darkgreen;
  border: 1px solid black;
}

#button-roll {
  border-radius: 5px;
  font-weight: bold;
  background-color: darkslateblue;
  color: aqua;
}
.result-box {
  background-color: cornflowerblue;
}
.container {
  display: flex;
}
.one:nth-child(5) {
  visibility: visible;
}
.two:nth-child(4n + 3) {
  visibility: visible;
}
.three:nth-child(4n + 1) {
  /* three */
  visibility: visible;
}
.four:nth-child(6n + 3) {
  /* four-1 */
  visibility: visible;
}
.four:nth-child(6n + 1) {
  /* four-2 */
  visibility: visible;
}
.five:nth-child(odd) {
  /* five */
  visibility: visible;
}
.six:nth-child(3n + 1) {
  /* six-1 */
  visibility: visible;
}
.six:nth-child(3n + 3) {
  /* six-2 */
  visibility: visible;
}
